%button {
  transition: all .2s ease-in-out;
  appearance: none;
  border: 1px solid #fff;
  border-radius: 6px;
  background: #000;
  color: #fff;
  outline: 0 none;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 20px;

  &:hover,
  &:focus {
    background: rgba(#000, .5);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: red;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

button,
[type="submit"],
.button {
  @extend %button
}