.answer {
  transition: all .2s ease-in-out;
  border: 2px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;

  &:hover,
  &:focus {
    background: rgba(#000, .5);
  }
}

.disabledanswer {
  pointer-events: none;
}

.correct-answer {
  background: green;
}

.wrong-answer {
  background: black;
}

.showScore {
  font-weight: 700;
  font-size: 20px;

  &.false {
    display: none;
  }
}

.next-question {
  pointer-events: none;
  opacity: .4;

  &.true {
    pointer-events: all;
    opacity: 1;
  }
}

.play-again {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}