.category {
  font-size: 15px;

  span {
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 100px;
    background: #000;
    font-weight: 600;
    transition: all .2s ease-in-out;

    &:hover {
      background: rgba(#000, .6);
    }
  }

  &:last-child { margin-bottom: 0; }
}

.navlinks {
  color: #fff;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}