@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: 1;
}

.loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  border-radius: 50%;
  border: 10px solid white;
  border-top-color: red;
  -webkit-animation: spin 1s infinite; /* Safari 4+ */
  -moz-animation:    spin 1s infinite; /* Fx 5+ */
  -o-animation:      spin 1s infinite; /* Opera 12+ */
  animation:         spin 1s infinite; /* IE 10+, Fx 29+ */
}