.final-score {
  transition: all .2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  background: #000;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  border: 10px solid #fff;
  box-shadow: 0px 0px 30px -5px #000;
  flex-direction: column;
}