.mainplaybutton {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 70px;
  border: 10px solid #fff;
  border-radius: 125px;
  margin-top: -35px;
  margin-left: -125px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  background: #000;
  line-height: 50px;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
  }
}